<!-- edit modal -->
<ng-template #testcredit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalData.StudentName}} - CI Credits</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <b>Time (Hr):</b>
        <input type="text" class="form-control" [(ngModel)]="modalData.Time" (change)="edittime()" id="Time" name="Time" #Time="ngModel">
      </div>
      <div class="col-sm-6">
        <b>Test:</b>
        <input type="text" class="form-control" [(ngModel)]="modalData.Test" id="test" name="test" #test="ngModel">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <b>CI Credits:</b>
        <p>{{(modalData.Time * modalData.Test)/100}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateTestAndTime()">Update</button>
  </div>

</ng-template>
<!-- edit modal -->
<section class="section-b-space p-t-0 ratio_asos">
  <div class="">
    <div class="row0">

      <div class="col p-0">
        <div class="theme-tab">

          <div class="tabset " style="text-align: center;">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
            <label for="tab1">Event Details</label>


            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab4" aria-controls="dunkles" *ngIf="this.eventFormat==='Kaizen' || this.eventFormat==='A3'">
            <label for="tab4" *ngIf="this.eventFormat==='Kaizen'">Kaizen Tool</label>
            <label for="tab4" *ngIf="this.eventFormat==='A3'">A3 Tool</label>

            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="rauchbier" *ngIf="!hideCommTab">
            <label *ngIf="(isA3Event || isKaizenEvent) && !hideCommTab" for="tab3">{{eventFormat}} Communication</label>
            <!-- <label *ngIf="isKaizenEvent && !hideCommTab" for="tab3">Kaizen Communication</label> -->
             

            <div class="tab-panels text-left">
              <section id="marzen" class="tab-panel pt-5">
                <div class="sign-in-area pt-50 pb-70">
                  <br>
                  <div class="container">
                    <h3 class="mb-4">Training Event - {{trainingEvent.eventsname}}</h3>
                    <div class="row mb-4">
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Training Event Name</span>
                      </div>
                      <div class="col-sm-6">
                        {{trainingEvent.eventsname}}
                      </div>
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Format</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.trainingFormatName}}
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Responsible Trainer</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.responsibleTrainerName}}
                      </div>
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Location</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.location}}
                      </div>
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Instructor</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.instructorName}}
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Training Notes</span>
                      </div>
                      <div class="col-sm-10">
                        {{trainingEvent.trainingnotes}}
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Scheduled Date</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.startdate | date:'MM/dd/yyyy'}}
                      </div>
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Duration</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.duration}} hours
                      </div>
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Closed Date</span>
                      </div>
                      <div class="col-sm-2">
                        {{trainingEvent.closedDate | date:'MM/dd/yyyy'}}
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-sm-2">
                        <span class="font-weight-bold">Closing Notes</span>
                      </div>
                      <div class="col-sm-10">
                        {{removeTags(trainingEvent.closingNote)}}
                      </div>
                    </div>
                    <!-- <div *ngIf="isA3Event || isKaizenEvent">
                      <div class="alert alert-warning" *ngIf="isA3Event">
                       

                        <div class="row">
                          <div class="col-sm-6">
                            <label class="font-weight-bold">Background
                            </label>
                            <p>{{A3model.background}}


                            </p>
                          </div>

                          <div class="col-sm-6">
                            <span class="font-weight-bold">Proposal</span>
                            <p>{{A3model.proposal}}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Current Condition</span>
                            <p>{{A3model.currentCondition}}</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="font-weight-bold">plan</span>
                            <p>{{A3model.plan}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Analyses</span>
                            <p>{{A3model.analyses}}</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="font-weight-bold">FollowUp</span>
                            <p>{{A3model.followUp}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Goal</span>
                            <p>{{A3model.goal}}</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Dollar Value</span>
                            <p>{{A3model.dollarImpacted}}</p>
                          </div>
                        </div>





                      </div>

                      <div class="alert alert-warning" *ngIf="isKaizenEvent">

                        <div class="row">
                          <div class="col-sm-6">
                            <label class="font-weight-bold">Define The Problem
                            </label>
                            <p>{{Kaizenmodel.defineTheProblem}}


                            </p>
                          </div>

                          <div class="col-sm-6">
                            <span class="font-weight-bold">Implementation Plan</span>
                            <p>{{Kaizenmodel.implementationPlan}}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Current Condition</span>
                            <p>{{Kaizenmodel.currentCondition}}</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="font-weight-bold">plan</span>
                            <p>{{Kaizenmodel.actionItemTimeline}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Analysis</span>
                            <p>{{Kaizenmodel.analysis}}</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Follow Up</span>
                            <p>{{Kaizenmodel.followUp}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Goal</span>
                            <p>{{Kaizenmodel.goal}}</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="font-weight-bold">Dollar Value</span>
                            <p>{{Kaizenmodel.dollarImpacted}}</p>
                          </div>
                        </div>





                      </div>


                    </div>
 -->
 <br>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 bg-y2">
                      <ng-container matColumnDef="studentName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder; "> Student
                          Name </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.employeeName }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder; "> Time (Hr)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.time }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="test">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder;"> Test (%)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.test}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ciCredits">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder;"> CI Credits
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.ciCredits}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder;">Action </th>
                        <td mat-cell *matCellDef="let element">
                          <a href="javascript:void(0)" mat-icon-button
                            (click)="editTestAndCredit(testcredit,element.employeeName,
                                                element.time,element.test,element.ciCredits,element.trainingEventAttendeeID,element.empId)">
                            <mat-icon matTooltip="Edit Test & Credit" fontSet="material-icons-outlined">edit</mat-icon>
                          </a>

                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons>
                    </mat-paginator>
                    <div class="row">
                      <div class="col-md-7">
                        <button type="submit" style="margin-top: 15px;float: right;" (click)="ApproveEventByMentor()"
                          class="default-btn learn-btn-2"
                          *ngIf="(isA3Event || isKaizenEvent)  && (mentor || isInternalMentor) && (this.trainingEvent.status == 'Submitted')">
                          Approve by mentor
                        </button>
                        <!-- <button type="submit" style="margin-top: 15px;float: right;" (click)="ApproveEventByDollarApproval()"
                          class="default-btn learn-btn-2"
                          *ngIf="(isA3Event || isKaizenEvent)  && (isDollarApprover) && (this.trainingEvent.status == 'Pending Approval')">
                          Approve 
                        </button> -->
                      </div>
                    </div>

                  </div>
                </div>
              </section>

              <section id="dunkles" class="tab-panel pt-5">

                  <div class="sign-in-area pt-50 pb-70" *ngIf="this.eventFormat==='Kaizen'">
                      <div class="container">
                          <div class="row pt-45">
                              <div class="col-lg-12">
                                  <div class="user-all-form">
                                      <div class="contact-form">
                                          <form id="KaizenForm" #KaizenForm="ngForm">
                                              <h2 style="text-align: center;">Edit Details</h2>
                                              <div class="row mt-5">

                                                  <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <span
                                                              style="color: gray;font-size:14px;">1) Identify Improvement Opportunity/Define the Problem
                                                          </span>
                                                          <div class="row">
                                                              <textarea rows="5" cols="5"
                                                                  class="form-control" tabindex="1"
                                                                  [(ngModel)]="Kaizenmodel.defineTheProblem"
                                                                  #DefineTheProblem="ngModel" name="DefineTheProblem"
                                                                  id="DefineTheProblem"
                                                                  placeholder="Why are you talking about it? What is the business case, problem or opportunity you are trying to solve or analyze."></textarea>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <span
                                                              style="color: gray;font-size:14px;">5) Implementation Plan</span>
                                                          <textarea rows="5" cols="5" class="form-control"
                                                          tabindex="5"
                                                              [(ngModel)]="Kaizenmodel.implementationPlan"
                                                              #ImplementationPlan="ngModel" name="implementationPlan"
                                                              id="implementationPlan"
                                                              placeholder="List your proposed countermeasures and chart the future reality"></textarea>

                                                      </div>
                                                  </div>

                                                  <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <span
                                                              style="color: gray;font-size:14px;">2) Current
                                                              Condition
                                                          </span>
                                                          <div class="row">
                                                              <textarea tabindex="2" rows="5" cols="5"
                                                                  class="form-control"
                                                                  [(ngModel)]="Kaizenmodel.currentCondition"
                                                                  #CurrentCondition="ngModel" name="currentCondition"
                                                                  id="currentCondition"
                                                                  placeholder="What are we doing today? Summarize the current reality or value stream with data of about the problem or opportunity. Make the problem or opportunity clear."></textarea>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span
                                                            style="color: gray;font-size:14px;">6) Action Item Timeline</span>
                                                        <textarea rows="5" cols="5" class="form-control"
                                                        tabindex="6"
                                                            [(ngModel)]="Kaizenmodel.actionItemTimeline" #ActionItemTimeline="ngModel"
                                                            name="actionItemTimeline" id="actionItemTimeline"
                                                            placeholder="Timeline with who, what, when, where and how"></textarea>

                                                    </div>
                                                  </div>

                                                  <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <span style="color: gray;font-size:14px;">3) Goal
                                                          </span>
                                                          <div class="row">
                                                              <textarea rows="5" cols="5"
                                                                  class="form-control"
                                                                  tabindex="3"
                                                                  [(ngModel)]="Kaizenmodel.goal"
                                                                  #Goal="ngModel" name="goal" id="goal"
                                                                  placeholder="State the specific target(s). State in measurable and identifiable terms."></textarea>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <span style="color: gray;font-size:14px;">7) Follow
                                                              Up</span>
                                                          <textarea rows="5" cols="5" class="form-control"
                                                          tabindex="7"
                                                              [(ngModel)]="Kaizenmodel.followUp"
                                                              #FollowUp="ngModel" name="followUp" id="followUp"
                                                              placeholder="List dates and notes from follow-up"></textarea>

                                                      </div>
                                                  </div>

                                                  <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <span
                                                              style="color: gray;font-size:14px;">4) Analysis</span>
                                                          <textarea rows="5" cols="5" class="form-control"
                                                          tabindex="4"
                                                              [(ngModel)]="Kaizenmodel.analysis"
                                                              #Analysis="ngModel" name="analysis"
                                                              id="analysis"
                                                              placeholder="Generate original ideas on how to best overcome the root causes or bridge to the opportunity. Five whys; fishbone diagram, problem or process analysis tree, 7 QC tools (old or new), tools from the Six Sigma, Kepner-Tragoe, Shainen, Taguchi, TRIZ or other toolbox of your choice."></textarea>


                                                      </div>
                                                  </div>

                                                  <div class="col-sm-6">
                                                      <div class="form-group">
                                                          <span style="color: gray;font-size:14px;">8) $
                                                              Value

                                                          </span>
                                                          <div class="row">
                                                              <div class="col-lg-12">
                                                                  <input class="form-control"
                                                                      type="number"
                                                                      tabindex="8"
                                                                      [(ngModel)]="Kaizenmodel.dollarImpacted"
                                                                      #DollarValue="ngModel"
                                                                      name="duration" id="duration">
                                                              </div>
                                                          </div>
                                                      </div>

                                                  </div>

                                                  <div class="col-lg-12 text-center">
                                                   
                                                      <!-- <a class="default-btn"
                                                          (click)="savekaizenform(KaizenForm)">Submit</a> -->
                                                        <button type="submit" style="margin-top: 15px;float: right;" (click)="savekaizenform(KaizenForm)"
                                                          class="default-btn learn-btn-2"
                                                          *ngIf="(isKaizenEvent)  && (isDollarApprover) && (this.trainingEvent.status == 'Pending Approval')">
                                                          Submit
                                                        </button>
                                                        <button type="submit" style="margin-top: 15px;float: right;" (click)="savekaizenform(KaizenForm)"
                                                           class="default-btn learn-btn-2"
                                                           *ngIf="(isKaizenEvent)  && (mentor || isInternalMentor) && (this.trainingEvent.status == 'Submitted')">
                                                            Submit
                                                        </button>
                                                        <button type="submit" style="margin: 15px 15px 0 0; float: right;" (click)="ApproveEventByDollarApproval()"
                                                          class="default-btn learn-btn-2"
                                                          *ngIf="isKaizenEvent  && isDollarApprover && (this.trainingEvent.status == 'Pending Approval')">
                                                          Approve 
                                                        </button>
                                                  </div>


                                              </div>
                                          </form>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="sign-in-area pt-50 pb-70" *ngIf="this.eventFormat==='A3'">
                    <div class="container">
                        <div class="row pt-45">
                            <div class="col-lg-12">
                                <div class="user-all-form">
                                    <div class="contact-form">
                                        <form id="A3Form" #A3Form="ngForm">
                                            <h2 style="text-align: center;">Edit Details</h2>
                                            <div class="row mt-5">

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span
                                                            style="color: gray;font-size:14px;">1) Background
                                                        </span>
                                                        <div class="row">
                                                            <textarea rows="5" cols="5"
                                                            tabindex="1"
                                                                class="form-control"
                                                                [(ngModel)]="A3model.background"
                                                                #Background="ngModel" name="background"
                                                                id="background"
                                                                placeholder="Why are you talking about it? What is the business case? What business problem are you trying to solve or analyze? Be very concise – communicate WHY you are addressing this issue."></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span
                                                            style="color: gray;font-size:14px;">5) Proposal</span>
                                                        <textarea rows="5" cols="5" 
                                                        class="form-control"
                                                        tabindex="5"
                                                            [(ngModel)]="A3model.proposal"
                                                            #Proposal="ngModel" name="proposal"
                                                            id="proposal"
                                                            placeholder="Your proposed countermeasures."></textarea>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span
                                                            style="color: gray;font-size:14px;">2) Current
                                                            Condition
                                                        </span>
                                                        <div class="row">
                                                            <textarea rows="5" cols="5"
                                                                class="form-control"
                                                                tabindex="2"
                                                                [(ngModel)]="A3model.currentCondition"
                                                                #Condition="ngModel" name="condition"
                                                                id="condition"
                                                                placeholder="What is going on?  Use facts, date.  Be visual – use Pareto charts, pie charts, sketches.  Make the problem clear. "></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span
                                                            style="color: gray;font-size:14px;">6) Plan</span>
                                                        <textarea rows="5" cols="5" 
                                                        class="form-control"
                                                        tabindex="6"
                                                            [(ngModel)]="A3model.plan" #Plan="ngModel"
                                                            name="Plan" id="Plan"
                                                            placeholder="Timeline with who, what, when, where, and how."></textarea>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span style="color: gray;font-size:14px;">3) Goal
                                                        </span>
                                                        <div class="row">
                                                            <textarea rows="5" cols="5"
                                                                class="form-control"
                                                                tabindex="3"
                                                                [(ngModel)]="A3model.goal"
                                                                #Goal="ngModel" name="goal" id="goal"
                                                                placeholder="State the specific target(s).  State in measurable or identifiable terms."></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span style="color: gray;font-size:14px;">7) Follow
                                                            Up</span>
                                                        <textarea rows="5" cols="5"
                                                         class="form-control"
                                                         tabindex="7"
                                                            [(ngModel)]="A3model.followUp"
                                                            #Follow="ngModel" name="follow" id="follow"
                                                            placeholder="What issues or remaining problems can you anticipate?"></textarea>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <span
                                                            style="color: gray;font-size:14px;">4) Analysis</span>
                                                        <textarea rows="5" cols="5" 
                                                        class="form-control"
                                                        tabindex="4"
                                                            [(ngModel)]="A3model.analyses"
                                                            #Analysis="ngModel" name="analysis"
                                                            id="analysis"
                                                            placeholder="Use the simplest problem-analysis tool that will suffice to find the root cause of the problem: Five whys; fishbone diagram, problem or process analysis tree, 7 QC tools (old or new), tools from the Six Sigma, Kepner-Tragoe, Shainen, Taguchi, TRIZ or other toolbox of your choice."></textarea>


                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <span style="color: gray;font-size:14px;">8) $
                                                            Value

                                                        </span>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <input class="form-control"
                                                                    type="number"
                                                                    tabindex="8"
                                                                    [(ngModel)]="A3model.dollarImpacted"
                                                                    #DollarValue="ngModel"
                                                                    name="duration" id="duration">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                
                                                <div class="col-lg-12 text-center">
                                                 
                                                    <!-- <a class="default-btn"
                                                        (click)="savea3form(A3Form)">Submit</a> -->
                                                        <button type="submit" style="margin-top: 15px;float: right;" (click)="savea3form(A3Form)"
                                                        class="default-btn learn-btn-2"
                                                        *ngIf="(isA3Event)  && (isDollarApprover) && (this.trainingEvent.status == 'Pending Approval')">
                                                        Submit
                                                      </button>
                                                      <button type="submit" style="margin-top: 15px;float: right;" (click)="savea3form(A3Form)"
                                                         class="default-btn learn-btn-2"
                                                         *ngIf="(isA3Event)  && (mentor || isInternalMentor) && (this.trainingEvent.status == 'Submitted')">
                                                          Submit
                                                      </button>    
                                                      <button type="submit" style="margin: 15px 15px 0 0; float: right;" (click)="ApproveEventByDollarApproval()"
                                                        class="default-btn learn-btn-2"
                                                        *ngIf="isA3Event  && isDollarApprover && (this.trainingEvent.status == 'Pending Approval')">
                                                        Approve
                                                      </button>
                                                </div>
                                               


                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 


              </section>

              <section id="rauchbier" class="tab-panel pt-5">

                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="panel-body">
                        <ul class="chat" *ngFor="let forms of A3CommModel">
                          <li class="left clearfix" *ngIf="userid != forms.sentBy">

                            <span class="message-initials-left pull-left" [matTooltip]="forms.messageSender">
                              {{getInitialCharacter(forms.messageSender)}}
                            </span>

                            <div class="chat-body clearfix">
                              <p>
                                {{forms.message}}
                              </p>
                            </div>
                          </li>
                          <li class="right demo clearfix" *ngIf="userid == forms.sentBy"><span
                              class="message-initials-right pull-right" [matTooltip]="forms.messageSender">
                              {{getInitialCharacter(forms.messageSender)}}
                            </span>
                            <div class="chat-body pull-right clearfix">
                              <p>
                                {{forms.message}}
                              </p>
                            </div>
                          </li>

                        </ul>
                      </div>
                      <div class="panel-footer">
                        <div class="input-group">
                          <input id="btn-input" type="text" [(ngModel)]="message"
                            class="form-control input-sm message-textfield" placeholder="Type your message here..." />
                          <span class="input-group-btn message-span"
                            *ngIf="(isA3Event ||isKaizenEvent) && (mentor || isInternalMentor) && (this.trainingEvent.status == 'Submitted' || this.trainingEvent.status == 'Scheduled' )">
                            <button class="btn btn-warning btn-sm message-button" (click)="savechat()" id="btn-chat">
                              Send</button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </section>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>





<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>