<div class="sign-in-area pt-50 pb-70">



   <div class="container">
      <div class="row pt-45">
         <div class="col-lg-12">
            <div class="user-all-form">
               <div class="contact-form">
                  <div class="section-title text-center">
                     <span>Company Profie</span>
                     <h2>Information</h2>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="card">
                           <div class="card-body">
                              <!-- <div class="card-title mb-4">
                      <div class="d-flex justify-content-start">
                         <div class="image-container">
                             <img src="{{CompanyModel.logoUrl}}" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                            <div class="middle">
                               <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                               <input type="file" style="display: none;" id="profilePicture" name="file" />
                            </div>
                         </div>
    
                         <div class="userData ml-3">
                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{CompanyModel.companyname}}</a></h2>
                            <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                            <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                         </div>
                         <div class="ml-auto">
                            <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                         </div>
    
                      </div>
                   </div> -->


                              <div class="row">
                                 <div class="col-12">

                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">company name</label>
                                       </div>
                                       <div class="col-sm-6">
                                          {{CompanyModel.companyname}}
                                       </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">website address</label>
                                       </div>
                                       <div class="col-sm-6">
                                          <a href="{{CompanyModel.websiteaddress}}">{{CompanyModel.websiteaddress}}</a>

                                       </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">Email address</label>
                                       </div>
                                       <div class="col-sm-6">
                                          {{CompanyModel.email}}
                                       </div>
                                    </div>


                                    <hr />
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">no of program</label>
                                       </div>
                                       <div class="col-sm-6">
                                          {{CompanyModel.programcount}}
                                       </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">number of people</label>
                                       </div>
                                       <div class="col-sm-6">
                                          {{CompanyModel.peoplecount}}
                                       </div>
                                    </div>


                                    <hr />
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">contact number</label>
                                       </div>
                                       <div class="col-sm-6">
                                          {{CompanyModel.contact1}}
                                       </div>
                                    </div>
                                    <hr />


                                    <div class="row">
                                       <div class="col-sm-6">
                                          <label style="font-weight:bold;">Your Address</label>
                                       </div>
                                       <div class="col-sm-6">
                                          {{CompanyModel.addressLine1}}{{" "}}{{CompanyModel.addressLine2}}
                                       </div>
                                    </div>



                                 </div>
                              </div>


                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>



</div>