<div class="sign-in-area pt-50 pb-70">
    <div class="container">
        <div class="row pt-45">
            <div class="col-lg-12">
                <div class="user-all-form">
                    <div class="contact-form">
                        <div class="section-title text-center">
                            <span>Enter the email address associated with your sensei account.</span>
                            <h2>Password assistance</h2>
                        </div>
                        <form id="contactForm" #forgotform="ngForm">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="form-group">
                                        <input type="text" name="email" [(ngModel)]="email" #useremail="ngModel"
                                            id="email" class="form-control" required placeholder="Username or Email">
                                        <p style="color:red;font-size: 13px"
                                            *ngIf="btnclick==true && useremail.valid==false">Email or User Name is
                                            required! </p>
                                    </div>
                                </div>


                                <div class="col-lg-6">

                                    <button type="submit" class="default-btn" (click)="ForgotPassword(forgotform)">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-lg-6" *ngIf="isloggedin==false">
                                    <p class="account-desc m-0 text-right">
                                        Not a member?
                                        <a class="back-btn" [routerLink]="['/Main/signup']">Sign Up</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>