table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.search-form-field *{
    margin-top: -18px ;
    position: absolute;
  }

  .search-form-field button {
    position: absolute;
    top: -34px;
    right: -20px;
  }

  