<div class="sign-in-area pt-50 pb-70">
    <br>
    <div class="container">
        <h3>Book Read</h3>

        <div class="row mb-3">
            <div class="search-div col-sm-12">
              <div class="row">
                <div class="col-sm-6 pl-0">
                  <div class="form-i">
                    <form class="form-inline">
                      <label for="Employee" class="col-sm-3 pl-0">Employee</label>
                      <select id="employeeId" name="employeeId" [(ngModel)]="selectedemployeeid"
                        class="form-control search-drop col-sm-6 mr-2">
                        <option disabled>Select Employee</option>
                        <option value="00000000-0000-0000-0000-000000000000">All</option>
                        <option *ngFor="let emp of employeeList" value={{emp.id}}>
                          {{emp.firstName + " " + emp.lastName}}
                        </option>
                      </select>
                      <button class="default-btn col-sm-2" (click)="searchByEmployeeID()" mat-raised-button>
                        Search
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-sm-6">
                  <mat-form-field appearance="none" floatLabel="never" class="search-form-field form-control">
                    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                    <button (click)="cleartext()" *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 bg-y2">
            <ng-container matColumnDef="employeeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder;"> Employee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="companyName" *ngIf="!isInternalMentor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder; "> Company Name </th>
              <td mat-cell *matCellDef="let element"> {{element.companyName}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder; "> Title </th>
              <td mat-cell *matCellDef="let element" [matTooltip]="element.title"> {{ (element.title.length>40)? (element.title |
                slice:0:40)+'...':(element.title) }}</td>
            </ng-container>
      
            <ng-container matColumnDef="completeddate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder; "> Completed Date </th>
              <td mat-cell *matCellDef="let element"> {{element.completeddate | date:'dd/MM/yyyy'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bolder;"> Rating </th>
              <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          </table>
          <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
</div>