<div >

    <iframe width="100%" height="550" src="https://www.youtube.com/embed/dvUrrCWpSGI" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="pt-5 light-g" style="color: black;"> 
                    <h2 style="color: black;font-size: 44px;">Structure Of Your Sensei</h2>
                         <div style="margin-bottom: -60px;">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="banner-content">
                                            <p style="color: black;">Steve Jobs was right – our job as managers is to simply make our people better - if we want our 
                                                company to keep performing better and stay ahead of its competitors. I have learned that each 
                                                one of us, including myself and each of your people, has NO IDEA how good we can be – NO IDEA 
                                                at all! And the only way for your company to rapidly improve week-after-week and year-after-year,
                                                is for each of your people to improve week-after-week and year-after-year.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="banner-img" style="margin-top: -35px;">
                                            <img src="assets/img/Video3-2.png" alt="Images">
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                         </div>
                         <div style="margin-bottom: -55px;">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="banner-img" style="margin-top: -35px;">
                                            <img src="assets/img/Video3-6.png" alt="Images">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="banner-content">
                                            <p style="color: black;">But what does it takefor a person to improve and how can a company help in improving each person
                                                all the time? Well,take yourself when you started out in business – before you became a guru of
                                                your industry.If you were smart, you learned from those who came before you – by reading their
                                                biographies,or reading up on world class processes they published. But to get anywhere in business,
                                                knowledge alone was not enough - you had to constantly put your new knowledge into practice.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                         </div>
                    <p>  You had to see what works and what does not – by actually doing it. And if you were lucky, you had a 
                        mentor, or Sensei to guide you, to show you the correct sequence and short-cuts to get results fast.</p>
                    <p>That is exactly how YourSensei helps the people of a company to grow. Once a company signs up, their
                        admin user will import or add all the people in the company to become Your Sensei users. From there 
                        it is very intuitive: a weekly email will notify each user how many continuous improvement credits 
                        they have accumulated – for the past week and in total, where they stand with the rest of the team,
                        and how many credits they need to get to their next CI belt. That’s right – a belt is still the best
                        way to recognize both a person’s knowledge, AND their ability to use it effectively, and each hour 
                        of learning or doing earns them one credit. As simple as that. The weekly dashboard visibility creates 
                        a healthy pull system accelerating the learning and doing across your organization - week-after-week
                        and year-after-year. The best people are recognized, and those trailing behind are reminded of what 
                        to do to catch up. YourSensei comes with a rich list of recommended books and videos, from personal
                        development to function specific process books, and it is easy to add books or videos that you want
                        to make part of your company’s body of knowledge. People soon learn that reading a book is not
                        enough – you also have to put it into practice to earn a CI belt – either by doing an A3, which is
                        an individual improvement project, or a Kaizen event, which is a team improvement project, using
                        the familiar 7 step process that is quite universal across many improvement methodologies today.
                        And, most importantly, you are not alone – each person is encouraged to invite a mentor to collaborate
                        with them as they learn and do – either someone from within the company or from outside.
                        So the improvement projects become a fertile exchange between you and your team and your mentor. 
                        Each A3 or Kaizen project is logged on the company’s Kaizen Board with the latest status indicated,
                        based on widely accepted progress indicators, until it is closed by your mentor, and a $ value is approved 
                        by the company’s assigned finance manager.</p>
                    <p>Your Sensei is the complete people pull system that constantly recognize your top performers, show you
                        those that need your help and support, and keeps track of all your improvement projects until the results
                        are in the bank. Your Sensei ensures that acquisitions or divestiture of companies, or the departure of
                        key managers are no longer the end to your people’s development, by providing a continuous, yet evolving 
                        body of knowledge and stream of improvements to your company and its people through all the ups and downs
                        of your dynamic industry. Now the only question that remains is: How high will you and your people go?</p>
                </div>
            </div>
        </div>
    </div>
</div>