<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a >
                            <img src="assets/img/logo.jpg" alt="Images" width="200px">
                        </a>
                    </div>
                    <p  >
                        The performance of people and the companies for which they work are governed by each others’
                        level of development towards the purpose they set for themselves.

                    </p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 >Useful Links</h3>
                    <ul class="footer-list">
                        <li>
                            <a >About Us</a>
                        </li>
                        <li>
                            <a >News</a>
                        </li>
                         <li>
                            <a >Case Study</a>
                        </li>
                        <li>
                            <a>SignIn</a>
                        </li>
                        <li>
                            <a>SignUp</a>
                        </li>
                        <li>
                            <a [routerLink]="['/Main/techsupport']">Technical Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>
                Copyright @2021 your. All Rights Reserved by
                <a  target="_blank">Global Turnarounds</a>
            </p>
        </div>
    </div>
</div>