<div class="sign-in-area pt-50 pb-70">
    <div class="container">
        <div class="row pt-45">
            <div class="col-lg-12">
                <div class="user-all-form">
                    <div class="contact-form">
                        <div class="section-title text-center">
                            <span>Enter the email address associated with your sensei account.</span>
                            <h2>Change Password</h2>
                        </div>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-lg-12 " *ngIf="link ==undefined">
                                    <div class="form-group">
                                        <input class="form-control"
                                            [type]="oldPasswordFieldTextType ? 'text' : 'password'" name="oldpassword"
                                            [(ngModel)]="oldpassword" #useroldpassword="ngModel"
                                            placeholder="Old Password" required>
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !oldPasswordFieldTextType, 'fa-eye': oldPasswordFieldTextType}"
                                            (click)="toggleOldPasswordFieldTextType()"></i>
                                        <p style="color:red;font-size: 13px;"
                                            *ngIf="buttonclick==true && useroldpassword.valid==false">Old Password is
                                            required!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="form-group">
                                        <input class="form-control"
                                            [type]="newPasswordFieldTextType ? 'text' : 'password'" name="password"
                                            [(ngModel)]="password" #userpassword="ngModel" placeholder="New Password"
                                            required>
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !newPasswordFieldTextType, 'fa-eye': newPasswordFieldTextType}"
                                            (click)="toggleNewPasswordFieldTextType()"></i>
                                        <p style="color:red;font-size: 13px;"
                                            *ngIf="buttonclick==true && userpassword.valid==false">Password is required!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="form-group">
                                        <input [type]="confirmPasswordFieldTextType ? 'text' : 'password'"
                                            name="confirmpassword" id="confirmpassword" class="form-control" required
                                            [(ngModel)]="confirmpassword" placeholder="Confirm Password">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !confirmPasswordFieldTextType, 'fa-eye': confirmPasswordFieldTextType}"
                                            (click)="toggleConfirmPasswordFieldTextType()"></i>
                                        <p style="color: red;font-size: 13px;"
                                            *ngIf="(confirmpassword!=password && confirmpassword!='' && password!='')">
                                            Password and confirmpassword should be same!</p>
                                    </div>
                                </div>

                                <div class="col-lg-6" style="text-align: right;">

                                    <button class="back-btn" (click)="backToLogin()">Back to Login</button>

                                </div>
                                <div class="col-lg-6" style="text-align: left;">

                                    <button type="submit" class="default-btn" (click)="ResetPassword()">
                                        Submit
                                    </button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>