table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .search-form-field{
      width: 83%;
        margin: 5px;          
      background-color: white;
      
  }

  .margtop{
    margin-top: 25px;
  }