<div >

    <iframe width="100%" height="550" src="https://www.youtube.com/embed/_PgTS8p23Wg" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="pt-5 light-g" style="color: black;"> 
                    <h2 style="color: black;font-size: 44px;">Power Of Sensei</h2>
                    <p >I am Kobus van der Zel and I will be sharing how I discovered the power of a mentor, or Sensei,
                        and why I developed YourSensei.org.I am Kobus van der Zel and I will be sharing how I discovered
                        the power of a mentor, or Sensei, and why I developed YourSensei.org.</p>
                    <p>I have been doing results-based business improvement and turnaround engagements in various
                        countries since 1999 – and I remember how amazed I was each time I found a struggling company,
                        and asking myself “How can it be that so many weak people gathered in this one company?” That
                        was until I learned that, yes, maybe weak companies do sometimes bring on weak people, but once
                        people are in the company they become even weaker! And if it is possible for a company’s
                        management practices to make people weaker over time, it means the company also has the power to
                        make people stronger over time – by using the right practices”. And if you think about it – even
                        in today’s world of artificial intelligence, most of your company’s processes are run by people
                        – so, by making your people stronger in a focused way, you lift the performance of your entire
                        company. But how does one company reverse such a vicious cycle?</p>
                    <p>The answer came from an experience I had before I started out in business – when I had to do my
                        compulsory military training in the South African Navy. They simply made us do things that I
                        would swear were impossible. This one day we assembled in our divisions for a race, but they
                        gave each division a lot of stuff to carry along – iron beds, sand bags, rifles, tar poles,
                        truck tires, name it – just enough to make it seem impossible. They said it was a 20km race, but
                        I was sure they were only joking because we started off going once around the athletic track –
                        and by then we were already exhausted. But they were serious – and we did end up running 20km
                        with all that equipment and dragging our buddies along who could not go any further. And that
                        experience made me realize that I am not the best judge of what I am capable of.</p>
                    <p>This was confirmed when I read a quote from Sir Isaac Newton saying “If I have seen further, it
                        was by standing on the shoulders of giants”, and when Carlos Castaneda wrote that the “clarity
                        of mind” what we get after a while when we start learning is not the step towards knowledge that
                        we assume it to be, but in fact the 2nd of four enemies of knowledge, as I describe in my book
                        The Forces of Progress. We also see the power of the Sensei or mentor in sports when we look at
                        partnerships like that of Tony and Rafael Nadal, or if we look at a few small obscure tennis
                        clubs in Argentina and Russia that consistently produce world class tennis players over decades
                        as described in The Talent Code. Giants like Jack Welch at General Electric showed us how to
                        harness this force in business in his book Straight from the Gut and by creating his Crotonville
                        Management Development Institute.</p>
                    <p>But leaders like Jack Welch also made us aware that there is a balance to be kept between the
                        level of discipline that a leader or a company demands, and giving people what is popular,
                        flexible and comfortable. Then again, there are leaders like Steve Jobs who said “My job is not
                        to be nice to people. My job is to … make them even better”, and Elon Musk who uses a strong
                        vision and purpose to push this discipline/comfort balance in his people to new extremes.</p>
                    <p>In my experience, most companies do not have aa effective mentorship program, or a clearly
                        defined body of knowledge, so despite their best efforts, they only develop their people at a
                        small fraction of their full potential each year – which has a direct impact on the company’s
                        financial and market performance. YourSensei.org was built to give a company and its people a
                        mentorship and development system that provide each person with a path to their full potential,
                        and a personal mentor to help them get there fast – thereby also taking the company towards its
                        full potential. Please take the people development self-assessment below to see at what rate you
                        are currently developing your people, and to learn how YourSensei.org can supplement your
                        existing program to take you and your people towards their full potential.</p>
                </div>
            </div>
        </div>
    </div>
</div>